
api_env*
api_env.list
dist
dist-ssr
.DS_Store
e2e-results/
# Editor directories and files
.env*
# Git worktrees
.idea
lerna-debug.log*
*.local
*.log
logs
# Logs
*.njsproj
node_modules
npm-debug.log*
*.ntvs*
pnpm-debug.log*
*.sln
*.suo
*.sw?
.vscode/*
!.vscode/extensions.json
.worktrees
yarn-debug.log*
yarn-error.log*
